$background: #eee;
$text-color: #222;
$accent: #dd4124;

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}

header {
    
}

.intro {
    
}

.interactive {
    
}

.api-doc {
    
}

footer {
    
}
